* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33.34vh);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "deck-1 deck-1 deck-2 deck-3"
        "deck-1 deck-1 deck-2 deck-4"
        "deck-1 deck-1 deck-5 deck-5";
}

.container div {
    /* border: 2px solid black; */
    color: white;
}

.container .deck-1 .deck1-inner {
    color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.deck1-inner h1 {
    margin: 30px 0px 20px 0px;
    text-align: center;
}

.deck1-inner p {
    text-align: center;
    padding: 0px 60px 0px 60px;
}

.deck1-inner button {
    margin-top: 30px;
    padding: 10px;
}

.deck1-footer {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0px 0px 30px 30px;
}

.deck1-footer a { margin-top: 5px; }

.deck-1 {
    grid-area: deck-1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.deck-2 {
    grid-area: deck-2;
    background-color: rgb(11, 11, 100);
    display: flex;
    flex-direction: column;
    height: 66.68vh;
}

.deck2-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.deck2-inner h2 { margin: 20px 0px 20px 0px; }

.deck2-footer p {
    text-align: center;
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
}
  
.deck-3 {
    grid-area: deck-3;
    background-color: rgb(0, 153, 0);
}
  
.deck-4 {
    grid-area: deck-4;
    background-color: rgb(201, 201, 2);
}

.container .deck-3, .deck-4, .deck-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.deck-5 {
    grid-area: deck-5;
    background-color: rgb(211, 56, 0);
}

@media screen and ( max-width: 818px ) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 300px);
        grid-template-areas: 
        "deck-1"
        "deck-2"
        "deck-3"
        "deck-4"
        "deck-5";
    }
}

@media screen and ( max-width: 428px ) {
    .deck1-inner button {
        visibility: hidden;
        position: absolute;
        left: 0;
    }
}

@media screen and ( max-width: 320px ) {
    .container .deck1-inner h1 {
        margin: 0;
    }
}

@media screen and ( max-width: 300px ) {
    .container .deck1-inner p {
        padding: 0;
    }
}